html, body {
  background-color:#000;
  color:#CCC;
  font-family:Arial;
}

h1, h3 {
  text-align:center;
}

h3 {
  margin-top:0px;
  margin-bottom:0px;
}


hr {
  margin-top:15px;
  margin-bottom:15px;
}

.groups, .charheader {
  margin-bottom:15px;
}

.charheader {
  font-weight:bold;
}

.jumbotron {
  background-color:#000;
  border:1px dashed #F00;
  margin:0px;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:0px !important;
  padding-right:0px !important;
  border-radius:0px !important;
}

progress {
  width:100%;
  -webkit-appearance: none;
}

progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  vertical-align: 0;
  text-align:center;
  /*Position text over the progress bar */
  position:absolute;
  left:0;
  right:0;
}

progress::-webkit-progress-bar {
  background-color: #222222;
}

progress::-webkit-progress-value {
  background-color: #FF0000;
}

progress::-moz-progress-bar
{
  background-color: #FF0000;
}


footer {
  font-style:italic;
  text-align:center;
}

/*Krieger*/
.wowclass-1 .charheader {color:#C79C6E;}
/*Paladin*/
.wowclass-2 .charheader {color:#F58CBA;}
/*Jäger*/
.wowclass-3 .charheader {color:#ABD473;}
/*Schurke*/
.wowclass-4 .charheader {color:#FFF569;}
/*Priester*/
.wowclass-5 .charheader {color:#FFFFFF;}
/*Todesritter*/
.wowclass-6 .charheader {color:#C41F3B;}
/*Schamane*/
.wowclass-7 .charheader {color:#0070DE;}
/*Magier*/
.wowclass-8 .charheader {color:#40C7EB;}
/*Hexer*/
.wowclass-9 .charheader {color:#8787ED;}
/*Mönch*/
.wowclass-10 .charheader {color:#00FF96;}
/*Druide*/
.wowclass-11 .charheader {color:#FF7D0A;}
/*Dämonenjäger*/
.wowclass-12 .charheader {color:#A330C9;}