html, body {
  background-color:#333333;
  color:#CCCCCC;
  font-family:Arial;
}

h1, h3 {
  text-align:center;
}

h3 {
  margin-top:0px;
  margin-bottom:0px;
}

.row {
  margin-bottom:10px;
}

.charview {
  border: 1px dashed #CCCCCC;
  padding: 10px;
  min-height: 200px;
}

.charview .pic {
  width:35%;
  float:left;
}

.charview .info {
  width:65%;
  float:left;
}

.charview .info .name {
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.charview .info .lastModified{
  width: 100%;
  display: block;
  font-style:italic;
  font-size:10px;
  text-align:center;
}

.charview .info .race, .charview .info .class{
  width: 50%;
  display: block;
  text-align:center;
  float:left;
  font-weight:bold;
  font-size:12px;
}

.charview .info .level {
  width: 50%;
  display: block;
  font-size:12px;
  float:left;
}

.charview .info .itemlvl {
  width: 50%;
  text-align: right;
  display: block;
  font-size:12px;
  float:left;
}

.charview .reputations {
  width:100%;
  float:left;
  margin-top:10px;
}

.charview .reputations .reputation {
  width:100%;
  float:left;
}

.charview .reputations .reputation .name {
  font-size:12px;
  width:50%;
  display:block;
  float:left;
}

.charview .reputations .reputation .progression {
  font-size:12px;
  width:50%;
  display:block;
  float:left;
}

.charview .feed {
  width:100%;
  float:left;
}

.charview .achievement {
  width:100%;
  float:left;
  display:block;
  font-size:12px;
}

progress {
  width:100%;
  -webkit-appearance: none;
}

progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  vertical-align: 0;
  text-align:center;
  /*Position text over the progress bar */
  position:absolute;
}

progress::-webkit-progress-bar {background-color: #222222;}
progress::-webkit-progress-value {background-color: #088A08;}
progress.neutral::-webkit-progress-value {background-color: #FFFF00;}
progress::-moz-progress-bar{background-color: #088A08;}
progress.neutral::-moz-progress-bar{background-color: #088A08;}


footer {
  font-style:italic;
  text-align:center;
}

/*Krieger*/
.wowclass-Krieger {color:#C79C6E;}
/*Paladin*/
.wowclass-Paladin {color:#F58CBA;}
/*Jäger*/
.wowclass-Jäger {color:#ABD473;}
/*Schurke*/
.wowclass-Schurke {color:#FFF569;}
/*Priester*/
.wowclass-Priester {color:#FFFFFF;}
/*Todesritter*/
.wowclass-Todesritter {color:#C41F3B;}
/*Schamane*/
.wowclass-Schamane {color:#0070DE;}
/*Magier*/
.wowclass-Magier {color:#40C7EB;}
/*Hexenmeister*/
.wowclass-Hexenmeister {color:#8787ED;}
/*Mönch*/
.wowclass-Mönch {color:#00FF96;}
/*Druide*/
.wowclass-Druide {color:#FF7D0A;}
/*Dämonenjäger*/
.wowclass-Dämonenjäger {color:#A330C9;}