html, body {
  background-color:#333333;
  color:#CCCCCC;
  font-family:Arial;
}

h1, h3 {
  text-align:center;
}

h3 {
  margin-top:0px;
  margin-bottom:0px;
}

.row {
  padding-bottom: 15px;
  border-bottom: 2px solid;
  padding-top: 15px;
}

.charview {
  border: 1px dashed #CCCCCC;
  padding-bottom:15px;
}

.charview .main {
  padding-top:15px;
}

.charview .pic {
  padding:0px;
}
.charview .pic img {
  width:100%;
  height:auto;
}

.charview .info {
 padding:0px;
}

.charview .info .name {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.charview .info .lastModified{
  font-style:italic;
  font-size:20px;
  text-align:center;
  white-space: nowrap;
  overflow: hidden;  
}

.charview .info .profile {
  text-align:center;
  font-size:24px;
  white-space: nowrap;
  overflow: hidden;  
}



.charview .info .itemlvl {
  text-align: center;
  font-size:24px;
  white-space: nowrap;
  overflow: hidden;  
}

.charview .reputations {
  padding-top:15px;
}

.charview .reputations .reputation {
  padding:0px;
}

.charview .reputations .reputation .name {
  font-size:24px;
  padding:0px;
}

.charview .reputations .reputation .progression {
  font-size:24px;
}

.charview .feed {
  padding-top:15px;
}

.charview .achievements {
  padding:0px;
}

.charview .achievements .achievement-header {
  font-size:24px;
}

.charview .achievements .achievement {
  padding:0px;
  font-size:20px;
  white-space: nowrap;
  overflow: hidden;  
}

.charview .achievements .achievement a, .charview .achievements .achievement a:visited {
  color:#FFD100;
}


.charview .loots {
  padding:0px;
}

.charview .loots .loot-header {
  font-size:24px;
}

.charview .loots .loot {
  padding:0px;
  font-size:20px;
  white-space: nowrap;
  overflow: hidden;  
}


.charview .professions .profession-header {
  font-size:24px;
}

.charview .professions .profession {
  font-size:24px;
}

progress {
  width:100%;
  -webkit-appearance: none;
  vertical-align:middle;
}

progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  vertical-align: 0;
  text-align:center;
  /*Position text over the progress bar */
  position:absolute;
}

progress::-webkit-progress-bar {background-color: #222222;}
progress::-webkit-progress-value {background-color: #088A08;}
progress.neutral::-webkit-progress-value {background-color: #FFFF00;}
progress.unfreundlich::-webkit-progress-value, progress.feindselig::-webkit-progress-value, progress.hasserfuellt::-webkit-progress-value {background-color: #FF0000;}
progress::-moz-progress-bar{background-color: #088A08;}
progress.neutral::-moz-progress-bar{background-color: #088A08;}


footer {
  font-style:italic;
  text-align:center;
}

/*Krieger*/
.wowclass-Krieger {color:#C79C6E;}
/*Paladin*/
.wowclass-Paladin {color:#F58CBA;}
/*Jäger*/
.wowclass-Jäger {color:#ABD473;}
/*Schurke*/
.wowclass-Schurke {color:#FFF569;}
/*Priester*/
.wowclass-Priester {color:#FFFFFF;}
/*Todesritter*/
.wowclass-Todesritter {color:#C41F3B;}
/*Schamane*/
.wowclass-Schamane {color:#0070DE;}
/*Magier*/
.wowclass-Magier {color:#40C7EB;}
/*Hexenmeister*/
.wowclass-Hexenmeister {color:#8787ED;}
/*Mönch*/
.wowclass-Mönch {color:#00FF96;}
/*Druide*/
.wowclass-Druide {color:#FF7D0A;}
/*Dämonenjäger*/
.wowclass-Dämonenjäger {color:#A330C9;}



.clearfix:after {
  content: "";
  display: table;
  clear: both;
}